# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# System and IDE's files
.DS_Store
.idea

# Compiled files
/public/assets

# Build files info
/config/manifest.json
